// по заданию второй шаг указано

$enable-shadows: true;

//измененные цвета в $theme-colors

$primary: #4545A5;
$success: #28A745;
$info: #17A2B8;
$light: #FBFBFB;
$dark: #343A40;

$font-family-sans-serif: Roboto, sans-serif;

