.hide-scrollbar {
  @include hide-scrollbar;
}

.svg-white {
  filter: invert(1);
}

@include media-breakpoint-down(sm) {
  img.logo-header {
    width: 15px;
    height: 25px;
    margin-left: 5px;
  }
}
