@use "sass:map";

$custom-breakpoint: (
  new-xxl: 1600px,
);
$custom-max-width: (
  new-xxl: 1540px,
);
$grid-breakpoints: map.merge($grid-breakpoints, $custom-breakpoint);
$container-max-widths: map.merge($container-max-widths, $custom-max-width);
