@use 'sass:map';

$utilities: map-merge($utilities,
("padding-top-3rem": (property: padding-top,
    class: pg-top,
    responsive: true,
    values: 3rem,
  ),
  "padding-y-3rem": (property: padding-top padding-bottom,
    class: pg-y,
    responsive: true,
    values: 3rem,
  ),
  "border-radius": (property: border-radius,
    class: radius,
    responsive: true,
    values: 1rem,
  ),
  "border-top-left-radius": (property: border-top-left-radius,
    class: radius-left-top,
    responsive: true,
    values: 1rem,
  ),
  "border-top-right-radius": (property: border-top-right-radius,
    class: radius-right-top,
    responsive: true,
    values: (1rem: 1rem, 0: 0),
  ),
  "border-left-radius": (property: border-top-left-radius border-bottom-left-radius,
    class: radius-left,
    responsive: true,
    values: 1rem,
  ),
  "border-right-radius": (property: border-top-right-radius border-bottom-right-radius,
    class: radius-right,
    responsive: true,
    values: 1rem,
  ),
),
);
$utilities: map-merge($utilities,
("border": map-merge(map-get($utilities, "border"),
    (responsive: true,
      values: (null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) map-get($theme-colors, "gray"),
      0: 0),
    ),
  ),
  "border-top": map-merge(map-get($utilities, "border-top"),
    (responsive: true,
      values: (null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) map-get($theme-colors, "gray"),
      0: 0),
    ),
  ),
  "border-bottom": map-merge(map-get($utilities, "border-bottom"),
    (responsive: true,
      values: (null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) map-get($theme-colors, "gray"),
      0: 0),
    ),
  ),
  "border-start": map-merge(map-get($utilities, "border-start"),
    (responsive: true,
      values: (null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) map-get($theme-colors, "gray"),
      0: 0),
    ),
  ),
  "border-end": map-merge(map-get($utilities, "border-end"),
    (responsive: true,
      values: (null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) map-get($theme-colors, "gray"),
      0: 0),
    ),
  ),
),
);

// не получается сделать значение 1.5 ?? ((
// $utilities: map.merge($utilities,
//   ("padding-x-1.5rem": (property: padding-left padding-right,
//       class: pg-x,
//       values: 2rem, // 1.5 выдает ошибку
//     )));

@mixin hide-scrollbar() {
  & {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden auto;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}