DOCTYPE(html)
html(lang='en')
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')

  title layout-designer-project-56
  link(rel='stylesheet' href='./styles/app.css')
  link(rel='stylesheet' href='../node_modules/bootstrap/scss/bootstrap')
body
  div.container-new-xxl.min-vh-100.bg-my-gray.p-4
    div.row.m-0.bg-white.rounded-4
      section.col-md-4.border-end.border-my-gray.px-0
        header.bg-primary.rounded-left-top          
          nav     
            div.nav.nav-tabs.justify-content-between.align-items-center(id='nav-tab' role='tablist')
              button.nav-link(id='#logo' data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false" disabled)
                img(src='../app/images/logo.svg' width=25 height=40 alt='')
              div.d-flex
                img(src='../app/images/people.svg' width=25 height=25 alt='').me-2
                button.nav-link.active.p-0(id='#contacts' data-bs-toggle='tab' data-bs-target='#contacts' type='button' role='tab' aria-controls='nav-contacts' aria-selected='true')
                  small Контакты
              div.d-flex
                img(src='../app/images/chat.svg' width=25 height=25 alt='').me-2
                button.nav-link.p-0(id='#chats' data-bs-toggle='tab' data-bs-target='#chats' type='button' role='tab' aria-controls='nav-chats' aria-selected='false') 
                small Сообщения
              div.d-flex
                img(src='../app/images/person.svg' width=25 height=25 alt='').me-2
                button.nav-link.p-0(id='#profile' data-bs-toggle='tab' data-bs-target='#profile' type='button' role='tab' aria-controls='nav-profile' aria-selected='false')
                small Профиль
          div.tab-content(id='nav-tabContent')
            div.tab-pane.fade.show.active(id='#contacts' role='tabpanel' aria-labelledby='nav-contacts' tabindex='0')
            div.tab-pane.fade(id='#chats' role='tabpanel' aria-labelledby='nav-chats' tabindex='0')
            div.tab-pane.fade(id='#profile' role='tabpanel' aria-labelledby='nav-profile' tabindex='0')
        div.pg-y-3rem.px-4 Выходные данные книги печатают в нижней части титульной страницы, а также на обороте и концевой титула. Вместе с тем, ГОСТ 7.0.4-2006 не предполагает обязательного наличия в печатном издании всех составляющих титульного листа, допуская наличие заменяющих их элементов. При отсутствии титула, оборота или концевой, выходные данные о печатном издании размещают на элементах, которые выступают в качестве их замены (например, обложка).Выходные данные книги печатают в нижней части титульной страницы, а также на обороте и концевой титула. Вместе с тем, ГОСТ 7.0.4-2006 не предполагает обязательного наличия в печатном издании всех составляющих титульного листа, допуская наличие заменяющих их элементов. При отсутствии титула, оборота или концевой, выходные данные о печатном издании размещают на элементах, которые выступают в качестве их замены (например, обложка).Выходные данные книги печатают в нижней части титульной страницы, а также на обороте и концевой титула. Вместе с тем, ГОСТ 7.0.4-2006 не предполагает обязательного наличия в печатном издании всех составляющих титульного листа, допуская наличие заменяющих их элементов. При отсутствии титула, оборота или концевой, выходные данные о печатном издании размещают на элементах, которые выступают в качестве их замены (например, обложка).Выходные данные книги печатают в нижней части титульной страницы, а также на обороте и концевой титула. Вместе с тем, ГОСТ 7.0.4-2006 не предполагает обязательного наличия в печатном издании всех составляющих титульного листа, допуская наличие заменяющих их элементов. При отсутствии титула, оборота или концевой, выходные данные о печатном издании размещают на элементах, которые выступают в качестве их замены (например, обложка).Выходные данные книги печатают в нижней части титульной страницы, а также на обороте и концевой титула. Вместе с тем, ГОСТ 7.0.4-2006 не предполагает обязательного наличия в печатном издании всех составляющих титульного листа, допуская наличие заменяющих их элементов. При отсутствии титула, оборота или концевой, выходные данные о печатном издании размещают на элементах, которые выступают в качестве их замены (например, обложка).
      section.col-md-8.visibility-chat.container-new-xxl.d-flex.justify-content-center.align-items-center.px-0
        div.text-center
          img(src='../app/images/avatar_1.jpg' width=200 height=200  alt='').rounded-circle
          p.fw-bold.mb-0.mt-3 Привет, Кодовёнок
          small.text-primary Выбери чат, чтобы начать общатьсяffsssddssssssssssdsfsqq






