.avatar {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar-image {
  border-radius: $border-radius-pill;
  width: 200px;
  height: 200px;
  padding-bottom: 18px;
}

.text-gray-dark {
  color: $gray-800;
}
