.chats {
    @include hide-scrollbar();
  }

.time {
    color: $gray-500;
}

.link-chats {
    color: inherit;
}

.focus-chats:hover {
outline: 1px dotted $primary;
outline-offset: 20px; 
}

.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}