.chats {
  @include hide-scrollbar;
}

.time {
  color: $gray-500;
}

.link-chats {
  color: inherit;
}

.focus-chats:hover {
  background-color: $primary;
  color: $light;
    & small {
      color: #efefef !important;
    }
}

.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
