
.contacts {
  @include hide-scrollbar();
}

.contacts-list p:first-of-type {
  margin-top: 0;
}
.link-contacts {
  color: inherit;
}
.link-contacts:hover {
  background-color: $primary; // не работает
}
