section.text-center.mt-auto.mb-auto
  h2.visually-hidden Аватар-приветствие
  img.avatar-image(src='./images/avatar_1.jpg', alt='Аватарка')
  div.fw-bold.text-gray-dark Привет, Кодовёнок
  small.text-secondary Выбери чат, чтобы начать общаться
