section.text-center.mt-auto.mb-auto
  img.avatar-image(src='./images/avatar_1.jpg', alt='Аватарка')
  span.fw-bold.text-gray-dark.d-block Привет, Кодовёнок
  small.text-secondary Выбери чат, чтобы начать общаться
