section.chats.h-100
  h2.fw-bold.mb-4 Чаты
  form.mb-5
    label(for='contacts-search').form-label.visually-hidden Поиск по сообщениям
    input(type='search' id='contacts-search'  aria-label='contacts-search' placeholder='Поиск по сообщениям').form-control.px-4.py-4.border-0.border-bottom.border-gray.rounded-0.text-secondary.shadow-none
  div
    div.border-bottom.border-gray.shadow-sm.mb-3
      a(href='#').link-chats.focus.link-underline.link-underline-opacity-0.d-flex                 
        div.d-flex.align-items-center.w-100
          img(width=50 height=50 src='./images/avatar_4.jpg').rounded-circle.ms-3.me-4
          div.py-4.flex-grow-1.me-4.overflow
            div.fw-bold.d-flex.justify-content-between
              span Вениамин Редакторович
              small.time.fw-normal.me-3 11:45
            small.text-secondary o_O
    
    div.border-bottom.border-gray.shadow-sm.mb-3
      a(href='#').link-chats.focus.link-underline.link-underline-opacity-0.d-flex                 
        div.d-flex.align-items-center.w-100
          img(width=50 height=50 src='./images/avatar_2.jpg').rounded-circle.ms-3.me-4
          div.py-4.flex-grow-1.me-4.overflow
            div.fw-bold.d-flex.justify-content-between
              span Джедай Падаванов
              small.time.fw-normal.me-3 10:12
            small.text-secondary Привет, скоро третий проект? Уже скоро надо будет выложить
    
    div.border-bottom.border-gray.shadow-sm.mb-3
      a(href='#').link-chats.focus.link-underline.link-underline-opacity-0.d-flex                 
        div.d-flex.align-items-center.w-100
          img(width=50 height=50 src='./images/avatar_3.jpg').rounded-circle.ms-3.me-4
          div.py-4.flex-grow-1.me-4.overflow
            div.fw-bold.d-flex.justify-content-between
              span Алексей Примадонин
              small.time.fw-normal.me-3 08:53
            small.text-secondary Тесты упали >_<
  