section.chats.h-100
  h2.fw-bold.mb-4 Профиль
  form.mb-5
    label(for='contacts-search').form-label.visually-hidden Поиск по сообщениям
    input(type='search' id='contacts-search'  aria-label='contacts-search' placeholder='Поиск по сообщениям').form-control.px-4.py-4.border-0.border-bottom.border-gray.rounded-0.text-secondary.shadow-none
  div.card.text-center.py-4.no-border
    img(src='./images/avatar_1.jpg' alt='...' width='90' height='90').card-img-top.card-img.align-self-center.mt-3
    div.card-body.pt-2
      h5.card-title.mb-4.fs-6.fw-bold Кодовёнок Хекслетович
      p.card-text.text-black-50 Милый и скромный помощник начинающих разработчиков. Люблю JavaScript
  ul.list-group
    li.list-group-item.d-flex.justify-content-between.align-items-start
      div.ms-2.me-auto
        div.text-black-50.small Страна
        div.small Москва, Россия 
      img(src='./images/globe_1.svg')
  
  
  
  
  
  
  
  
  
  div
    div.border-bottom.border-gray.shadow-sm.mb-3
      a(href='#').link-chats.focus.link-underline.link-underline-opacity-0.d-flex                 
        div.d-flex.align-items-center.w-100
          img(width=50 height=50 src='./images/avatar_4.jpg').rounded-circle.ms-3.me-4
          div.py-4.flex-grow-1.me-4.overflow
            div.fw-bold.d-flex.justify-content-between
              span Вениамин Редакторович
              small.time.fw-normal.me-3 11:45
            small.text-secondary o_O
