section.profile.h-100
  h2.fw-bold.mb-4 Профиль
  form.mb-5
    label(for='contacts-search').form-label.visually-hidden Поиск по сообщениям
    input(type='search' id='profile-search'  aria-label='profile-search' placeholder='Поиск по сообщениям').form-control.border-0.border-bottom.rounded-0.text-secondary.shadow-none.px-4.py-4
  div.card.text-center.py-4.no-border.no-pg.mg-t-64
    img(src='./images/avatar_1.jpg' alt='...' width='90' height='90').card-img-top.card-img.align-self-center.mt-3
    div.card-body.pt-2
      h5.card-title.mb-4.mb-16.fs-6.fw-bold Кодовёнок Хекслетович
      p.card-text.text-black-50 Милый и скромный помощник начинающих разработчиков. Люблю JavaScript
  ul.list-group.mt-5.h-100
    li.list-group-item.d-flex.justify-content-between.align-items-start.border-0.border-bottom.pg-left-14
      div.me-auto
        div.text-black-50.small Страна
        div.small Москва, Россия 
      img(src='./images/globe_1.svg'  alt='...').text-black-50.me-1.align-self-center
    li.list-group-item.d-flex.justify-content-between.align-items-start.border-0.border-bottom.pg-left-14
      div.me-auto
        div.text-black-50.small Телефон
        div.small +7 (499) 123-45-67 
      img(src='./images/telephone_1.svg'  alt='...').text-black-50.me-1.align-self-center
    li.list-group-item.d-flex.justify-content-between.align-items-start.border-0.border-bottom.pg-left-14
      div.me-auto
        div.text-black-50.small Email
        div.small nikita.m@hexlet.io 
      img(src='./images/envelope_1.svg'  alt='...').text-black-50.me-1.align-self-center
    li.list-group-item.d-flex.justify-content-between.align-items-start.border-0.border-bottom-lg.pg-left-14
      div.me-auto
        div.text-black-50.small Twitter
        div.small @n_mikhaylov 
      img(src='./images/people_3.svg'  alt='...').text-black-50.me-1.align-self-center

    li.list-group-item.d-flex.justify-content-between.align-items-start.border-0.border-bottom-lg.pg-left-14
      div.me-auto
        div.text-black-50.small Twitter
        div.small @n_mikhaylov 
      img(src='./images/people_3.svg'  alt='...').text-black-50.me-1.align-self-center
    li.list-group-item.d-flex.justify-content-between.align-items-start.border-0.border-bottom-lg.pg-left-14
      div.me-auto
        div.text-black-50.small Twitter
        div.small @n_mikhaylov 
      img(src='./images/people_3.svg'  alt='...').text-black-50.me-1.align-self-center
    li.list-group-item.d-flex.justify-content-between.align-items-start.border-0.border-bottom-lg.pg-left-14
      div.me-auto
        div.text-black-50.small Twitter
        div.small @n_mikhaylov 
      img(src='./images/people_3.svg'  alt='...').text-black-50.me-1.align-self-center
    li.list-group-item.d-flex.justify-content-between.align-items-start.border-0.border-bottom-lg.pg-left-14
      div.me-auto
        div.text-black-50.small Twitter
        div.small @n_mikhaylov 
      img(src='./images/people_3.svg'  alt='...').text-black-50.me-1.align-self-center
    li.list-group-item.d-flex.justify-content-between.align-items-start.border-0.border-bottom-lg.pg-left-14
      div.me-auto
        div.text-black-50.small Twitter
        div.small @n_mikhaylov 
      img(src='./images/people_3.svg'  alt='...').text-black-50.me-1.align-self-center
    li.list-group-item.d-flex.justify-content-between.align-items-start.border-0.border-bottom-lg.pg-left-14
      div.me-auto
        div.text-black-50.small Twitter
        div.small @n_mikhaylov 
      img(src='./images/people_3.svg'  alt='...').text-black-50.me-1.align-self-center
    li.list-group-item.d-flex.justify-content-between.align-items-start.border-0.border-bottom-lg.pg-left-14
      div.me-auto
        div.text-black-50.small Twitter
        div.small @n_mikhaylov 
      img(src='./images/people_3.svg'  alt='...').text-black-50.me-1.align-self-center