section
  h2.fw-bold.mb-4 Профиль
  form.mb-5(action='mailto:nikitapavlov2015@gmail.com')
    label.visually-hidden(for='profile-search') Поиск по сообщениям
    input.form-control.border-0.border-bottom.rounded-0.text-secondary.shadow-none.px-4.py-4(type='search', id='profile-search', aria-label='profile-search', placeholder='Поиск по сообщениям')
  article.card.text-center.border-0.py-sm-4.pb-0.pt-3
    img.align-self-center.mt-3.mb-sm-0.mb-2.card-imagine(src='./images/avatar_1.jpg', alt='Аватарка', width='90', height='90')
    div.card-body.pt-2
      h3.mb-sm-4.mb-3.fw-bold.fs-5 Кодовёнок Хекслетович
      p.card-text.text-black-50 Милый и скромный помощник начинающих разработчиков. Люблю JavaScript
  ul.list-group.mt-5.h-100
    li.list-group-item.d-flex.border-0.border-bottom.pg-left-14
      div.me-auto
        small.text-black-50.d-block Страна
        small Москва, Россия 
      img.me-1.align-self-center(src='./images/sprite.svg#globe_1', width=16, alt='Иконка')
    li.list-group-item.d-flex.border-0.border-bottom.pg-left-14
      div.me-auto
        small.text-black-50.d-block Телефон
        small +7 (499) 123-45-67 
      img.me-1.align-self-center(src='./images/sprite.svg#telephone_1', width=16, alt='Иконка')
    li.list-group-item.d-flex.border-0.border-bottom.pg-left-14
      div.me-auto
        small.text-black-50.d-block Email
        small nikita.m@hexlet.io 
      img.me-1.align-self-center(src='./images/sprite.svg#envelope_1', width=16, alt='Иконка')
    li.list-group-item.d-flex.border-0.border-bottom-lg.pg-left-14
      div.me-auto
        small.text-black-50.d-block Twitter
        small @n_mikhaylov
      img.me-1.align-self-center(src='./images/sprite.svg#people_3', width=16, alt='Иконка')
